.bg-gray-800 {
  background-color: #5f769e;
}

.text-white {
  color: #fff;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.bg-blue-500 {
  background-color: #4299E1;
}

.hover\:bg-blue-600:hover {
  background-color: #3182CE;
}

.bg-red-500 {
  background-color: #F56565;
}

.hover\:bg-red-600:hover {
  background-color: #E53E3E;
}

.shadow-md {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.rounded-lg {
  border-radius: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

.p-6 {
  padding: 1.5rem;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.md\:grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.color { 
  color: #0c3358;
}